* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat",sans-serif;
}

:root {
    font-size: 62.5%;

}

body {
    font-size: 1.6rem;
    background-color: rgb(254, 250, 255);
color: rgb(133, 107, 140);
padding-inline: 2rem;
}

#page {
    max-width: 120rem;
    margin-inline: auto;
}

header {
    padding-block: 2rem;
    text-align: center;
}

fieldset {
    padding: 1.5rem;
    margin-bottom: 3rem;
}


label {
    display: block;
    margin-bottom: .5rem;
}

div {
    margin-bottom: 1rem;
}

input {
    padding: 1rem;
    border-radius: 1rem;
    border: none;
}

input:focus
input:hover {
    outline: 2px solid rgb(196, 180, 211);
}

input::placeholder {
    color: rgb(109, 101, 116);
}

input[type=file] {
    color:rgb(109, 101, 116)
}

input[type=checkbox],
input[type=radio]{
    outline: none;
}

input + label {
    display: inline;
}
h2{
    margin-bottom: 1rem;
}

select,
textarea {
    padding: 1rem;
    border-radius: 1rem;
resize:none;
}

button{
    padding: 1rem 2rem;
    margin-bottom: 2rem;
    background-color: rgb(129, 118, 139);
    border: none;
    color: rgb(27, 20, 34);
    border-radius: 1rem;
    font-weight: bold;
    font-size: 2rem;
}

button::hover {
    background-color: rgb(109, 101, 116);
    cursor: pointer;
    transition: ease-in-out .4s;
}
